<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>someone you had sex with recently tested positive for <%= @infection %>. You should consider getting tested as well.</p>
</body>
</html>
